input[type="text"], input[type="number"]{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 40%;
    padding: 15px 14px;
    
}
input[type="text"]:hover{
    background: black;
    color: white;
}
input[type="number"]:hover{
    background: black;
    color: white;
}
.body{
    padding: 20px;
}
body{
    background: url('img/img_5terre.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    background: black;
    color: white;
    box-shadow: 2px 2px gray;
}
.image{
    height: 400px;
    width: 400px;
}
/*//let postImage=[{
   // image:"img/avatar-login.png",
    //imageName:"avatar"
//}]
//let image=postImage[i];


let postWrapper=document.querySelector('#post-holder');
//let postForm=document.querySelector('#post-form');
//let name=document.querySelector('#title');
//let body=document.querySelector('#body');

let postBox=[];
function getPosts(){
    fetch('https://jsonplaceholder.typicode.com/posts')
    //console.log(gottenPost)
   // getPosts()
    .then((response)=> response.json())
    .then((data)=> {
        console.log(postBox)
        postBox=data
        let postHolder='';
        postBox.forEach(post => {
            //console.log(post)
            postHolder +=`
            <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                  <div class="id d-flex justify-content-between">
                    <div class="num mt-4">
                      <p>${post.id}</p>
                    </div>
                    <div id="post-image mb-2">
                     <img src="${post.image}" alt="avatar" width="150px" height="150px">
                     </div>
                  </div>
                  <h6 id="post-title">${post.title}</h6>
                  <p id="post-body">${post.body}</p>
                  <div class="d-flex justify-content-between">
                      <button class="btn btn-success" onclick="viewPost(${post.id})">view</button>
                      <button class="btn btn-primary" onclick="updatePost(${post.id})">update</button>
                      <button class="btn btn-danger" onclick="deletePost(${post.id})">delete</button>
                  </div>
              </div>
          </div>
          </div>
            `
            
        });
        postWrapper.innerHTML=postHolder;
    })

   
}

getPosts();

function createPost(e){
    e-preventDefault();
    fetch('https://jsonplaceholder.typicode.com/posts', {
        method: 'POST',
        body: JSON.stringify({
          title: 'title.value',
          body: 'body.value',
          userId: 1,
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      })
        .then((response) => response.json())
        .then((data) => {
            console.log(data)
            //at the beginning
            postBox.unshift(data);
            console.log(postBox)
            let postHolder=''; 
            postBox.forEach(post =>{
                postHolder +=`
                <div class="col-md-4 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                      <div class="id d-flex justify-content-between">
                        <div class="num mt-4">
                          <p>${post.id}</p>
                        </div>
                        <div id="post-image mb-2">
                         <img src="${post.image}" alt="avatar" width="150px" height="150px">
                         </div>
                      </div>
                      <h6 id="post-title">${post.title}</h6>
                      <p id="post-body">${post.body}</p>
                      <div class="d-flex justify-content-between">
                          <button class="btn btn-success" onclick="viewPost(${post.id})">view</button>
                          <button class="btn btn-primary" onclick="updatePost(${post.id})">update</button>
                          <button class="btn btn-danger" onclick="deletePost(${post.id})">delete</button>
                      </div>
                  </div>
              </div>
              </div>
                `
        });
        postWrapper.innerHTML=postHolder;
    })
    getPosts();
postForm.addEventListener('submit', createPost);
}
getPosts();
postForm.addEventListener('submit', createPost); */